<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Todo Lists</ion-label>
          <ion-select [compareWith]="compareWith">
            <ion-select-option *ngFor="let todo of todo" [value]="todo">{{todo.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="task">task 1</div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Todo List page"></app-explore-container>
</ion-content>
